body
{
  background-color : #f3f3f3;
}
.form-group
{
  margin-left: 75%;
  margin-bottom: 2.5%;
  margin-top: 2%;
}
.col-sm-4
{
  text-align: center;
}

.col-sm-3
{
  font-size: 1.3em;
  font-family: "Roboto";
  text-align: center;
}
.navbar-nav
{
  float: none;
}

.navbar-nav > li > a
{
  padding-top: 10px;
  padding-bottom: 0px;
}

footer
{
  background-color: #2C2828;
  height: 100px;
  font-family: "Sansita";

}
p
{
  /*margin-top: 31.3%;*/
  text-align: center;
  padding-top: 3%;
  font-family: "Sansita";
  color: #E3E1E1;
}


.articles
{
  background-color: #FFFFFF;
  margin-bottom: 1.5%;
  text-align: center;
  padding-bottom: 1%;
  padding-top: 0.1%;
  width: 100%;
}

.comments
{
  background-color: #FFFFFF;
  margin-bottom: 1.5%;
  text-align: center;
  padding-bottom: 1%;
  padding-top: 0.1%;
  width: 350px;
}


.Contenu
{
  background-color: #FFFFFF;
  margin-bottom: 1.5%;
  text-align: center;
  padding-bottom: 1%;
  padding-top: 0.1%;
  width: 350%;
}
#comment
{
  color: #595a5c;
}

#comments
{
  color: #d1452c;
  font-family: "Roboto";
}

h3
{
  text-align: center;
  color: #595a5c;
}
.navbar
{
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0.8);
}

a
{
  color: #8C8181;
}

.nav > li > a:focus, .nav > li > a:hover
{
  background-color: transparent;
}
.article img
{
  max-width: 50%;
  max-height: 40%;
}

.coffee
{
width: 100%;
margin-bottom: 3%;
}

.head{
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
}
.join
{
  font-family: "Sansita";
  font-size: 1.2em;
  color: #B9B3B2;
  background-color: #BD7A4166;
  padding: 4%;
  border-radius: 7px;
}

form
{

  text-align: center;
  margin-bottom: 3%;
  background-color: rgba(19, 35, 47, 0.9);
  padding: 2%;
  border-radius: 5px;
  color : #FFFFFF;
  font-family: "Roboto";
}
.form-control
{
  font-family: "Roboto";
  border-radius: 2px;
  border : 1px solid #a0b3b0;
  background-color: rgba(39, 55, 66, 0.9);
  color: rgba(255, 255, 255, 0.5);
}

.btn{
  width: 100%;
  margin-top: 5%;
  background : #1ab188;
}



#text
{
  color: #595a5c;
}

#auteur
{
  color: #595a5c;
}

#date
{
  color: #595a5c;
}

.title-divider
{
  color : #595a5c;
  border-top: 2px solid;
display: block;
max-width: 48px;
margin: 0 auto 15px;
}
.social
{
  width: 64px;
  height: 64px;
}

.container
{
  margin-left: auto;
  margin-right: auto;
}
.picture
{
  height: 100px;
}
.contenu
{
  background-color: #FFFFFF;
}
.navbar-toggle .icon-bar
{
  background-color: #FFFFFF;
}
